<%= form_with model: @kitten, html: { style: 'padding 1rem; border: 1.5px solid black;' } do |form| %>
  <div class="field" style="padding: 0.25rem;">
    <%= form.label :name, style: 'display: block;' %>
    <%= form.text_field :name, placeholder: "Cat's name" %>
  </div>

  <div class="field" style="padding: 0.25rem;">
    <%= form.label :age, style: 'display: block;' %>
    <%= form.number_field :age %>
  </div>

  <div class="field" style="padding: 0.25rem;">
    <%= form.label :cuteness, style: 'display: block;' %>
    <%= form.number_field :cuteness %>
  </div>

  <div class="field" style="padding: 0.25rem;">
    <%= form.label :softness, style: 'display: block;' %>
    <%= form.number_field :cuteness %>
  </div>

  <%= form.submit 'Save that changes!', style: "margin: 0.25rem; cursor: pointer;" %>
<% end %>
